.app_header {
  background-color: #263238;
  height: 36px;
  padding: 8px 0px 8px 16px;
  align-items: center;
  display: flex;
}

.app_logo {
  color: #fff;
  font-size: 18px;
}

.search_box {
  /* align-self: flex-start; */
  background-color: #c0c0c0;
  border-radius: 4px;
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 300px;
}

.search_icon {
  height: 25px;
  padding: 0px 0px 10px 10px;
}
